{% extends "base.html" %}
{% block title %} Dodaj Klienta {% endblock %}
{% block content %}
    <div class="container div-my-container">
        <div class="mt-4 ml-4 mr-4">
            <form action="/add_client/" method="POST">
                <div class="row border-bottom border-3 div-my-header">
                    <div class="col mb-2">
                        <h4 class="color-header">{{ message }}</h4>
                    </div>
                    <div class="col d-flex justify-content-end mb-2">
                        <button type="submit" class="btn btn-success">Zapisz</button>
                        <div class="col-1"></div>
                        <a href="/clients/" class="btn btn-info">Klienci</a>
                    </div>
                </div>
                <div class="form-group row div-my-row">
                    <div class="col-sm-3">
                        <label for="first_name" class="label-size col-form-label">Imię:</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Imię"/>
                    </div>
                </div>
                <div class="form-group row div-my-row">
                    <div class="col-sm-3">
                        <label for="last_name" class="label-size col-form-label">Nazwisko:</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Nazwisko"/>
                    </div>
                </div>
                <div class="form-group row div-my-row">
                    <div class="col-sm-3">
                        <label for="email" class="label-size col-form-label">Email:</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email"/>
                    </div>
                </div>
                <div class="form-group row div-my-row">
                    <div class="col-sm-3">
                        <label for="phone_number" class="label-size col-form-label">Telefon (+48):</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="phone_number" id="phone_number" minlength="9" maxlength="9" placeholder="Telefon, 9-cyfrowy"/>
                    </div>
                </div>
            </form>
        </div>
        <div>                
            <img class="rounded mx-auto d-block img-thumbnail img-my-style" 
            src="{{ url_for('static', filename='images/add_client.jpg') }}" alt="Add client photo">
        </div>
    </div>
{% endblock content %}