{% extends "base.html" %}
{% block title %} Autorzy {% endblock %}
{% block content %}
    <div class="container my-container">
        <table class="table">
            <thead>
                <tr class="d-flex flex-wrap">
                    <th class="col-sm-1">Lp.</th>
                    <th class="col-sm-6">Imię i nazwisko (pseudonim)</th>
                    <th class="col-sm-2">Data urodzenia</th>
                    <th class="col-sm-2">Data śmierci</th>
                    <th class="col-sm-1 text-center">Szczegóły</th>
                </tr>
            </thead>
            <tbody>
                {% for author in authors_list %}
                <tr class="d-flex flex-wrap my-table">
                    <td class="col-sm-1">{{ loop.index }}</td>
                    <th class="col-sm-6">{{ author.name }}</th>
                    <td class="col-sm-2">{% if author.date_of_birth %} {{ author.date_of_birth.strftime('%d.%m.%Y') }} {% else %} (brak danych) {% endif %}</td>
                    <td class="col-sm-2">{% if author.date_of_death %} {{ author.date_of_death.strftime('%d.%m.%Y') }} {% else %} (brak danych) {% endif %}</td>
                    <td class="col-sm-1 text-center">
                        <a href="/details_author/{{ author.id }}/" class="my-link">Profil</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>             
    </div>
{% endblock content %}