{% extends "base.html" %}
{% block title %} Książki {% endblock %}
{% block content %}
    <div class="container div-my-container">
        <table class="table">
            <thead>
                <tr class="d-flex flex-wrap">
                    <th class="col-sm-1">Lp.</th>
                    <th class="col-sm-3">Tytuł</th>
                    <th class="col-sm-2">ISBN</th>
                    <th class="col-sm-3">Autor</th>
                    <th class="col-sm-1 text-center">Ilość</th>
                    <th class="col-sm-1 text-center">Zajęte</th>
                    <th class="col-sm-1 text-center">Szczegóły</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books_list %}
                <tr class="d-flex flex-wrap tr-my-table">
                    <td class="col-sm-1">{{ loop.index }}</td>
                    <th class="col-sm-3">{{ book.title }}</th>
                    <td class="col-sm-2">{{ book.isbn }}</td>
                    <td class="col-sm-3">{{ book.author }}</td>
                    <td class="col-sm-1 text-center">{{ book.copies }}</td>
                    <td class="col-sm-1 text-center">{{ book.borrowed_copies }}</td>
                    <td class="col-sm-1 text-center">
                        <a href="/details_book/{{ book.id }}/">zobacz</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>             
    </div>
{% endblock content %}