{% extends "base.html" %}
{% block title %} Klienci {% endblock %}
{% block content %}
    <div class="container my-container">
        <table class="table">
            <thead>
                <tr class="d-flex flex-wrap">
                    <th class="col-sm-1">Lp.</th>
                    <th class="col-sm-2">Imię</th>
                    <th class="col-sm-3">Nazwisko</th>
                    <th class="col-sm-3">Email</th>
                    <th class="col-sm-2">Nr. telefonu</th>
                    <th class="col-sm-1 text-center">Szczegóły</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients_list %}
                <tr class="d-flex flex-wrap my-table">
                    <td class="col-sm-1">{{ loop.index }}</td>
                    <th class="col-sm-2">{{ client.first_name }}</th>
                    <th class="col-sm-3">{{ client.last_name }}</th>
                    <td class="col-sm-3">{{ client.email }}</td>
                    <td class="col-sm-2">{% if client.phone_number %} (+48) {{ client.phone_number }} {% else %} (brak danych) {% endif %}</td>
                    <td class="col-sm-1 text-center">
                        <a href="/details_client/{{ client.id }}/" class="my-link">Profil</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>             
    </div>
{% endblock content %}