{% extends "base.html" %}
{% block title %} Usuń Klienta {% endblock %}
{% block content %}
    <div class="container div-my-container">
        <div class="mt-4 ml-4 mr-4">
            <form method="POST">
                <div class="row border-bottom border-3 div-my-header">
                    <div class="col-sm-9 mb-2">
                        <h4 class="color-header">{{ message }}</h4>
                    </div>
                    <div class="col-sm-3 d-flex justify-content-end mb-2">
                        <button type="submit" class="btn btn-danger my-button">Potwierdz</button>
                        <a href="/details_client/{{ client.id }}/" class="btn btn-info my-button">Powrót</a>
                        <a href="/clients/" class="btn btn-info my-button">Klienci</a>
                    </div>
                </div>
            </form>
            <div class="row div-my-row">
                <div class="col-sm-3">Imię:</div>
                <div class="col-sm-9">{{ client.first_name }}</div>
            </div>
            <div class="row div-my-row">
                <div class="col-sm-3">Nazwisko:</div>
                <div class="col-sm-9">{{ client.last_name }}</div>
            </div>
            <div class="row div-my-row">
                <div class="col-sm-3">Email:</div>
                <div class="col-sm-9">{{ client.email }}</div>
            </div>
            <div class="row div-my-row">
                <div class="col-sm-3">Numer telefonu (+48):</div>
                <div class="col-sm-9">{% if client.phone_number %} {{ client.phone_number }} {% else %} (brak danych) {% endif %}</div>
            </div>
        </div>
        <div>
            <img class="rounded mx-auto d-block img-thumbnail img-my-style" 
            src="{{ url_for('static', filename='images/delete_client.jpg') }}" alt="Delete client photo">      
        </div>
    </div>
{% endblock content %}