{% extends "base.html" %}
{% block title %} Usuń Autora {% endblock %}
{% block content %}
    <div class="container my-container">
        <div class="mt-4 ml-4 mr-4">
            <form method="POST">
                <div class="row border-bottom border-3 my-header">
                    <div class="col-sm-9 mb-2">
                        <h4 class="color-header">{{ message }}</h4>
                    </div>
                    <div class="col-sm-3 d-flex justify-content-end mb-2">
                        <button type="submit" class="btn btn-danger my-button">Potwierdz</button>
                        <a href="/details_author/{{ author.id }}/" class="btn btn-info my-button">Powrót</a>
                        <a href="/authors/" class="btn btn-info my-button">Autorzy</a>
                    </div>
                </div>
            </form>                       
            <div class="row my-row">
                <div class="col-sm-3">Imię i nazwisko (pseudonim):</div>
                <div class="col-sm-9">{{ author.name }}</div>
            </div>
            <div class="row my-row">
                <div class="col-sm-3">Data urodzenia:</div>
                <div class="col-sm-9">{% if author.date_of_birth %} {{ author.date_of_birth }} {% else %} (brak danych) {% endif %}</div>
            </div>
            <div class="row my-row">
                <div class="col-sm-3">Data śmierci:</div>
                <div class="col-sm-9">{% if author.date_of_death %} {{ author.date_of_death }} {% else %} (brak danych) {% endif %}</div>
            </div>
            <div class="row my-row">
                <div class="col-sm-3">Uwaga:</div>
                <div class="col-sm-9 my-error"><h5>Usuwając profil autora usuwasz wszystkie jego woluminy wraz z historią wypożyczeń !!!!!</h5></div>
            </div>
        </div>
        <div>
            <img class="rounded mx-auto d-block img-thumbnail my-style" 
            src="{{ url_for('static', filename='images/delete_author.jpg') }}" alt="Delete author photo">      
        </div>
    </div>
{% endblock content %}