{% extends "base.html" %}
{% block title %} Profil Autora {% endblock %}
{% block content %}
    <div class="container div-my-container">
        <div class="mt-4 ml-4 mr-4">
            <div class="row border-bottom border-3 div-my-header">
                <div class="col mb-2">
                    <h4 class="color-header">Szczegóły profilu autora</h4>
                </div>
                <div class="col d-flex justify-content-end mb-2">
                    <a href="/edit_author/{{ author.id }}/" class="btn btn-success">Zmień</a>
                    <div class="col-1"></div>
                    <a href="/delete_author/{{ author.id }}/" class="btn btn-danger">Usuń</a>
                    <div class="col-1"></div>
                    <a href="/authors/" class="btn btn-info">Autorzy</a>
                </div>
            </div>
            <div class="row">
                <div class="col-9">                        
                    <div class="row div-my-row">
                        <div class="col-sm-4">Imię i nazwisko (pseudonim):</div>
                        <div class="col-sm-8">{{ author.name }}</div>
                    </div>
                    <div class="row div-my-row">
                        <div class="col-sm-4">Data urodzenia:</div>
                        <div class="col-sm-8">{{ author.date_of_birth }}</div>
                    </div>
                    <div class="row div-my-row">
                        <div class="col-sm-4">Data śmierci:</div>
                        <div class="col-sm-8">{{ author.date_of_death }}</div>
                    </div>
                    <div class="row div-my-row">
                        <div class="col-sm-4">Utwory:</div>
                        <div class="col-sm-8">
                            <ul class="list-group">
                                {% for book in author.books %}
                                <li class="li-my-list">"{{ book.title }}", <a href='/details_book/{{ book.id }}/'>zobacz</a> </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <img class="rounded mx-auto d-block img-thumbnail" 
                    src="{{ url_for('static', filename='images/details_author.jpg') }}" alt="Details author photo">
                </div>
            </div>
        </div>                
    </div>
{% endblock content %}