{% extends "base.html" %}
{% block title %} Profil Klienta {% endblock %}
{% block content %}
    <div class="container my-container">
        <div class="mt-4 ml-4 mr-4">
            <div class="row border-bottom border-3 my-header">
                <div class="col-sm-9 mb-2">
                    <h4 class="color-header">Szczegóły profilu klienta</h4>
                </div>
                <div class="col-sm-3 d-flex justify-content-end mb-2">
                    <a href="/edit_client/{{ client.id }}/" class="btn btn-success my-button">Zmień</a>
                    <a href="/delete_client/{{ client.id }}/" class="btn btn-danger my-button">Usuń</a>
                    <a href="/clients/" class="btn btn-info my-button">Klienci</a>
                </div>
            </div>
            <div class="row">
                <div class="col-9">
                    <div class="row my-row">
                        <div class="col-sm-4 my-bold-text">Imię:</div>
                        <div class="col-sm-8">{{ client.first_name }}</div>
                    </div>
                    <div class="row my-row">
                        <div class="col-sm-4 my-bold-text">Nazwisko:</div>
                        <div class="col-sm-8">{{ client.last_name }}</div>
                    </div>
                    <div class="row my-row">
                        <div class="col-sm-4 my-bold-text">Adres email:</div>
                        <div class="col-sm-8">{{ client.email }}</div>
                    </div>
                    <div class="row my-row">
                        <div class="col-sm-4 my-bold-text">Numer telefonu:</div>
                        <div class="col-sm-8">{% if client.phone_number %} (+48) {{ client.phone_number }} {% else %} (brak danych) {% endif %}</div>
                    </div>
                    <div class="row my-row">
                        <div class="col-sm-4 my-bold-text">Wypożyczone książki:</div>
                        <div class="col-sm-8">{{ client.books|count }}
                        </div>
                    </div>
                    <div class="row my-row">
                        <div class="col-sm-4 my-bold-text">Historia wypożyczeń:</div>
                        <div class="col-sm-8"><a class="my-link" href='/client_books/{{ client.id }}/'>Sprawdź</a></div>
                    </div>
                    <div class="row my-row">
                        <div class="col-sm-4 my-bold-text">Aktualnie wypożyczone:</div>
                        <div class="col-sm-8">
                            <ul class="list-group">
                                <div class="row">
                                    {% for loan in client.books %}
                                    <div class="col-sm-6">
                                        <li class="my-list"><a class="my-link" href='/details_book/{{ loan.book_id }}/'>"{{ loan.book }}"</a></li>
                                    </div>
                                    {% endfor %}
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <img class="rounded mx-auto d-block img-thumbnail" 
                    src="{{ url_for('static', filename='images/details_client.jpg') }}" alt="Details client photo">
                </div>
            </div>
        </div>                
    </div>
{% endblock content %}