{% extends "base.html" %}
{% block title %} Książka {% endblock %}
{% block content %}
    <div class="container my-container">
        <div class="mt-4 ml-4 mr-4">
            <div class="row border-bottom border-3 my-header">
                <div class="col-sm-9 mb-2">
                    <h4 class="color-header">Szczegóły książki</h4>
                </div>
                <div class="col-sm-3 d-flex justify-content-end mb-2">
                    <a href="/edit_book/{{ book.id }}/" class="btn btn-success my-button">Zmień</a>
                    <a href="/delete_book/{{ book.id }}/" class="btn btn-danger my-button">Usuń</a>
                    <a href="/books/" class="btn btn-info my-button">Książki</a>
                </div>
            </div>
            <div class="row">
                <div class="col-9">                        
                    <div class="row my-row">
                        <div class="col-sm-4 my-bold-text">Tytuł:</div>
                        <div class="col-sm-8">{{ book.title }}</div>
                    </div>
                    <div class="row my-row">
                        <div class="col-sm-4 my-bold-text">Numer ISBN:</div>
                        <div class="col-sm-8">{{ book.isbn }}</div>
                    </div>
                    <div class="row my-row">
                        <div class="col-sm-4 my-bold-text">Autor:</div>
                        <div class="col-sm-8">{{ book.author }}</div>
                    </div>
                    <div class="row my-row">
                        <div class="col-sm-4 my-bold-text">Opis:</div>
                        <div class="col-sm-8">{{ book.description }}</div>
                    </div>
                    <div class="row my-row">
                        <div class="col-sm-4 my-bold-text">Kategorie:</div>
                        <div class="col-sm-8">{{ book.categories|join(", ") }}</div>
                    </div>
                    <div class="row my-row">
                        <div class="col-sm-4 my-bold-text">Ilość egrzemplarzy:</div>
                        <div class="col-sm-8">{{ book.copies }}</div>
                    </div>
                    <div class="row my-row">
                        <div class="col-sm-4 my-bold-text">Wypożyczone:</div>
                        <div class="col-sm-8">{{ book.borrowed_copies }}</div>
                    </div>
                    <div class="row my-row">
                        <div class="col-sm-4 my-bold-text">Historia wypożyczeń:</div>
                        <div class="col-sm-8">
                            {% if book.clients %}
                            <a class="btn btn-info" href='/book_loan/{{ book.id }}/'>Sprawdź</a>
                            {% else %}
                            Brak historii wypożyczeń !!!
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <img class="rounded mx-auto d-block img-thumbnail" 
                    src="{{ url_for('static', filename='images/details_book.jpg') }}" alt="Details book photo">
                </div>
            </div>
        </div>                
    </div>
{% endblock content %}