{% extends "base.html" %}
{% block title %} Edytuj Klienta {% endblock %}
{% block content %}
    <div class="container my-container">
        <div class="mt-4 ml-4 mr-4">
            <form action="/edit_client/{{ client.id }}/" method="POST">
                <div class="row border-bottom border-3 my-header">
                    <div class="col-sm-9 mb-2">
                        <h4 class="color-header">{{ message }}</h4>
                    </div>
                    <div class="col-sm-3 d-flex justify-content-end mb-2">
                        <button type="submit" class="btn btn-success my-button">Zapisz</button>
                        <a href="/details_client/{{ client.id }}/" class="btn btn-info my-button">Powrót</a>
                        <a href="/clients/" class="btn btn-info my-button">Klienci</a>
                    </div>
                </div>
                <div class="form-group row my-row">
                    <div class="col-sm-3 my-bold-text">
                        <label for="first_name" class="label-size col-form-label">Imię: *</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="first_name" id="first_name" value="{{ client.first_name }}" minlength="3" placeholder="Imię, 3 znaki min."/>
                    </div>
                </div>
                <div class="form-group row my-row">
                    <div class="col-sm-3 my-bold-text">
                        <label for="last_name" class="label-size col-form-label">Nazwisko: *</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="last_name" id="last_name" value="{{ client.last_name }}" minlength="3" placeholder="Nazwisko, 3 znaki min."/>
                    </div>
                </div>
                <div class="form-group row my-row">
                    <div class="col-sm-3 my-bold-text">
                        <label for="email" class="label-size col-form-label">Email: *</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" name="email" id="email" value="{{ client.email }}"/>
                    </div>
                </div>
                <div class="form-group row my-row">
                    <div class="col-sm-3 my-bold-text">
                        <label for="phone_number" class="label-size col-form-label">Numer telefonu (+48):</label>
                    </div>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="phone_number" id="phone_number" minlength="9" maxlength="9" 
                        {% if client.phone_number %} value="{{ client.phone_number }}" {% endif %} placeholder="Telefon, 9-cyfrowy"/>
                    </div>
                </div>
            </form>
        </div>
        <div>                
            <img class="rounded mx-auto d-block img-thumbnail my-style" 
            src="{{ url_for('static', filename='images/edit_client.jpg') }}" alt="Edit client photo">
        </div>
    </div>
{% endblock content %}